@model IEnumerable<ICC.Mincloud.Modelo.Entities.SeguimientosPersona>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                <small> @Html.DisplayNameFor(model => model.PersonaId)</small>
            </th>
            <th>
                <small> @Html.DisplayNameFor(model => model.EncargadoId)</small>
            </th>

            <th>
                <small> @Html.DisplayNameFor(model => model.SeguimientoId)</small>
            </th>
            <th>
                <small> @Html.DisplayNameFor(model => model.Estado) </small>
            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.Observaciones)</small>
            </th>
            <th>
                <small>@Html.DisplayNameFor(model => model.FechaSeguimiento)</small>
            </th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <small>
                    <div>
                        <div class='btn-group'>

                            <a href='@Url.Action("Edit", new {id = item.SeguimientosPersonaId})' class='btn btn-success btn-xs'><i class='glyphicon glyphicon-pencil'></i></a>

                        </div>
                        <div class='btn-group'>
                            <a href='@Url.Action("Delete", new {id = item.SeguimientosPersonaId})' class='btn btn-danger btn-xs'><i class='glyphicon glyphicon-trash'></i></a>
                        </div>
                    </div>
                </small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.Persona.Nombre)</small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.Encargado.Nombre)</small>
            </td>

            <td>
                <small> @Html.DisplayFor(modelItem => item.Seguimiento.Nombre)</small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.Estado)</small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.Observaciones)</small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.FechaSeguimiento)</small>
            </td>

        </tr>
    }

</table>

