@model ICC.Mincloud.Modelo.Entities.Departamento
@{
	ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("Departamentos", "Index", "Departamentos") <span class="divider">/</span></li>
	<li class="active">Delete</li>
</ul>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.PaisId)</td>
				<td>@Model.PaisId</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Nombre)</td>
				<td>@Model.Nombre</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Paise)</td>
		<td>
			<a href="@Url.Action("Details", "Paises", new { PaisId = Model.PaisId })"><small>View</small></a>
		</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
@using (Html.BeginForm()) {
		<input type="submit" value="Delete" class="btn btn-danger" />
		@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
}
	</div>
</div>
