@model ICC.Mincloud.Modelo.Entities.NotasCurso
@{
	ViewBag.Title = "NotasCursos";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li class="active">NotasCursos</li>
</ul>

@{
	Func<string, object> routeValuesSortBy = (sortBy) => new {
		page = ViewBag.Page,
		pageSize = ViewBag.PageSize,
		sortBy = sortBy,
		sortDesc = ViewBag.SortBy != sortBy || ViewBag.SortDesc != null && ViewBag.SortDesc == true ? null : (object)true
		,
		MateriaId = ViewBag.MateriaId,
		PeriodoId = ViewBag.PeriodoId
	};

	Func<int, object> routeValuesPage = (page) => new {
		page = page,
		pageSize = ViewBag.PageSize,
		sortBy = ViewBag.SortBy,
		sortDesc = ViewBag.SortDesc
		,
		MateriaId = ViewBag.MateriaId,
		PeriodoId = ViewBag.PeriodoId
	};

	Func<object, string> formatValue = (value) => {
		if (value == null)
			return string.Empty;
		string strValue = Convert.ToString(value);
		if (strValue.Length > 20)
			strValue = strValue.Substring(0, 20) + "...";
		return strValue;
	};
}

<script type="text/javascript">
	function submitFilterForm(index, value) {
		var f = document.getElementById('filterform');
		f.elements[index].value = value;
		f.submit();
	}
</script>

<div class="row">
	<div class="span8">
		<form id="filterform" method="GET">
			<input type="hidden" name="MateriaId" value="@ViewBag.MateriaId">
			<div class="btn-group">
@if (ViewBag.SelectedMateria == null) {
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><small>Materia</small> <span class="caret"></span></a>
}
else {
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><small>Materia: <strong>@formatValue(ViewBag.SelectedMateria)</strong></small> <span class="caret"></span></a>
}
				<ul class="dropdown-menu">
@foreach (SelectListItem item in ViewBag.Materias) {
					<li><a href="javascript:{}" onclick="submitFilterForm(0, '@item.Value');">@(item.Text ?? "[All]")</a></li>
}
				</ul>
			</div>
			<input type="hidden" name="PeriodoId" value="@ViewBag.PeriodoId">
			<div class="btn-group">
@if (ViewBag.SelectedPeriodo == null) {
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><small>Periodo</small> <span class="caret"></span></a>
}
else {
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><small>Periodo: <strong>@formatValue(ViewBag.SelectedPeriodo)</strong></small> <span class="caret"></span></a>
}
				<ul class="dropdown-menu">
@foreach (SelectListItem item in ViewBag.Periodos) {
					<li><a href="javascript:{}" onclick="submitFilterForm(1, '@item.Value');">@(item.Text ?? "[All]")</a></li>
}
				</ul>
			</div>
		</form>
	</div>
	<div class="span4">
		@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })
	</div>
</div>

<table class="table table-bordered table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th></th>
			<th>
				<a href="@Url.Action("Index", routeValuesSortBy("NotasCursoId"))"><small>@Html.DisplayNameFor(model => model.NotasCursoId)</small></a>
			</th>
			<th>
				<a href="@Url.Action("Index", routeValuesSortBy("PeriodoId"))"><small>@Html.DisplayNameFor(model => model.PeriodoId)</small></a>
			</th>
			<th>
				<a href="@Url.Action("Index", routeValuesSortBy("MateriaId"))"><small>@Html.DisplayNameFor(model => model.MateriaId)</small></a>
			</th>
			<th>
				<a href="@Url.Action("Index", routeValuesSortBy("Valor"))"><small>@Html.DisplayNameFor(model => model.Valor)</small></a>
			</th>
			<th>
				<a href="@Url.Action("Index", routeValuesSortBy("Porcetaje"))"><small>@Html.DisplayNameFor(model => model.Porcetaje)</small></a>
			</th>
			<th>
				<small>Materia</small>
			</th>
			<th>
				<small>Periodo</small>
			</th>
		</tr>
	</thead>
@foreach (var item in ViewBag.Entities) {
	<tr>

		<td>
			<div class="btn-group">
				<a href="@Url.Action("Edit", new { NotasCursoId = item.NotasCursoId })" class="btn btn-mini"><i class="icon-pencil"></i></a>
				<a href="@Url.Action("Details", new { NotasCursoId = item.NotasCursoId })" class="btn btn-mini"><i class="icon-info-sign"></i></a>
				<a href="@Url.Action("Delete", new { NotasCursoId = item.NotasCursoId })" class="btn btn-mini"><i class="icon-trash"></i></a>
			</div>
		</td>
		<td>
			<small>@formatValue(item.NotasCursoId)</small>
		</td>
		<td>
			<small>@formatValue(item.PeriodoId)</small>
		</td>
		<td>
			<small>@formatValue(item.MateriaId)</small>
		</td>
		<td>
			<small>@formatValue(item.Valor)</small>
		</td>
		<td>
			<small>@formatValue(item.Porcetaje)</small>
		</td>
		<td>
			<a href="@Url.Action("Details", "Materias", new { MateriaId = item.MateriaId })"><small>View</small></a>
		</td>
		<td>
			<a href="@Url.Action("Details", "Periodos", new { PeriodoId = item.PeriodoId })"><small>View</small></a>
		</td>
	</tr>
}
</table>

@if (ViewBag.PaginationData != null) {
	int currentPage = ViewData.ContainsKey("Page") ? ViewBag.Page : 1;
<div class="pagination pagination-centered pagination-small">
	<ul>
	@foreach (Tuple<string, bool, int> pageTuple in ViewBag.PaginationData) {
		if (!pageTuple.Item2) {
			<li class="disabled"><span>@pageTuple.Item1</span></li>
		}
		else if (pageTuple.Item3 == currentPage) {
			<li class="active"><span>@pageTuple.Item1</span></li>
		}
		else {
			 <li ><a href="@Url.Action("Index", routeValuesPage(pageTuple.Item3))">@pageTuple.Item1</a></li>
		}
	}
	</ul>
</div>
}
