@model ICC.Mincloud.Modelo.Entities.Grupo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.TutorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrupoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
