@model ICC.Mincloud.Modelo.Entities.ResponsablesCelula
@{
	ViewBag.Title = "Details";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("ResponsablesCelulas", "Index", "ResponsablesCelulas") <span class="divider">/</span></li>
	<li class="active">Details</li>
</ul>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.PersonaId)</td>
				<td>@Model.PersonaId</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Encargado)</td>
				<td>@Model.Encargado</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.Persona)</td>
		<td>
			<a href="@Url.Action("Details", "Personas", new { PersonaId = Model.PersonaId })"><small>View</small></a>
		</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="btn-group">
			<a href="@Url.Action("Edit", new { ResponsablesCelulaId = Model.ResponsablesCelulaId })" class="btn"><i class="icon-pencil"></i> Edit</a>
			<a href="@Url.Action("Delete", new { ResponsablesCelulaId = Model.ResponsablesCelulaId })" class="btn"><i class="icon-trash"></i> Delete</a>
		</div>
		@Html.ActionLink("Back to List", "Index", null, new { @class = "pull-right" })
	</div>
</div>
