@model ICC.Mincloud.Modelo.Entities.Seguimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Seguimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Encargado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encargado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iglesia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iglesia.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeguimientoId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
</p>
