@model ICC.Mincloud.Modelo.Entities.Matricula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.EstudianteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.EstudianteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programa.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatriculaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
